* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.upper {
    display: flex;
    flex-wrap: wrap;

}

.col {
    background-color: aqua;
    padding: 10px;
    width: 25%;


}
.mainDiv{
border: 2px solid black;
background-color: aquamarine;
}
.p-1{
    padding:1rem;
}