.marginbox{
     width:400px;
    padding:50px;
    background-color: aqua;
    border: 1px solid black;
    text-align:center;
    margin: 50px auto;

}
.borderbox{
    padding: 25px;
    border: 1px solid black;
    text-align: center;
    margin: 25px;
    background-color:lightblue;

}
.paddingbox{
    padding: auto;
    margin:25px;
    border:1px solid black;
    text-align: center;
    background-color:slategrey;
}
.contentbox{
    padding:25px;
    border: 1px solid black;
    text-align: center;
    background-color:azure;
    margin-top: 20px;
}